.navbar-brand img{
    width:300px;
    float: left;
}
.header-navbar{
    border-bottom: solid 2px #00a44c;
    color: #00a44c;
    text-align: center;
}

button.nav-link{
    color: #00a44c !important;
}
.nav-link{
    color: #000;
}
.header-navbar-row{
    width: 100%;
}

.brand-title{
    font-weight: 600;
    font-size: 2rem;
}
.branch-name{
    font-size: 9px;
}
h4.nav-link{
    font-weight: 700;margin-top: 2%;
}

