<div class="container-fluid">
      <h2>Loan Applications</h2>
      <!-- <a href="loans/create" class="btn btn-primary btn-create mb-2">Apply New Loan</a> -->
       <div class="dropdown-filter mb-2 pt-1" *ngIf="user.role !== 'SUPERVISOR'" >
        <select id="form-select" class="form-select" (change)="onSelectionChange()" [(ngModel)]="selectedFilterValue">
          <option [value]="true">Pending With Me</option>
          <option [value]="false">Processed By Me</option>
        </select>
       </div>
      <table class="table-bordered" *ngIf="loanApplications$ | async as loanApplications">
        <thead>
          <tr>
            <th>Loan Id</th>
            <th>Applicant Name</th>
            <th>Loan Amount (INR)</th>
            <th>Purpose</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngIf="loanApplications.length; else noItems">
          <tr *ngFor="let app of loanApplications">
            <td>
                <a href="/loans/details?loanId={{app.id}}">{{ app.id }}</a> 
            </td>
            <td>{{ app.fullName }}</td>
            <td>{{ app.loanAmount | currency:'INR' }}</td>
            <td>{{ app.loanPurpose }}</td>
            <td>
              <span [ngClass]="statusClass(app.status)">{{ app.status }}</span>
            </td>
            <!-- <td>
              <button class="approve" (click)="updateStatus(app, 'Approved')" [disabled]="app.status !== 'Pending'">Approve</button>
              <button class="reject" (click)="updateStatus(app, 'Rejected')" [disabled]="app.status !== 'Pending'">Reject</button>
            </td> -->
          </tr>
        </tbody>
        <ng-template #noItems>
          <p pl-5>No Records Found!</p>
        </ng-template>
      </table>
    </div>