<div class="login-container container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="width: 24rem;">
    <h3 class="text-center">{{userType}} Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>User Id</label>
        <input type="text" class="form-control" formControlName="userId">
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <div *ngIf="loginForm?.errors" class="errors text-danger">
  Invalid User Id or password.
</div>
      <button class="btn btn-primary w-100" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>
